ul,
ol {
	margin: rem-calc(0) rem-calc(0) rem-calc(18) rem-calc(18);
	&.no-bullet {
		&,
		ul,
		ol {
			list-style: none;
		}
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5rem;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5rem 1.5rem;
}