$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: $font__code;
$font__inline: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;